<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="linpeng.coolpad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/coolpad"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="linpeng.coolpad.FramentMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="linpeng.coolpad.DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name="linpeng.coolpad.NewsDetailsActivity"
            android:label="@string/title_activity_news_details" >
        </activity>
        <activity android:name="linpeng.coolpad.AccessoryDetailsActivity"></activity>
    </application>

</manifest>
